@import '../../custom.scss';

#mainPage-image{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 30px;
    box-sizing: border-box;
    border: solid 8px #fff;
}

.overlay-top .engaged{
    font-size: 50px;
    font-weight: bolder;
}

.overlay-top .date{
    font-size: 20px;
    font-weight: bolder;
}