@import '../../custom.scss';

$storyJumbotronHeight: 30vh;
$storyJumbotronMargin: 10px;

#story{
    // background-image: url('../../images/engagement_photos/story2.jpg');
    // background-position: center center;
    // background-repeat: no-repeat;
    // background-size: cover;
    // position: relative;
    // height: calc(100vh - #{$storyJumbotronHeight} - #{$navbarHeight} - 2 * #{$storyJumbotronMargin});
}

#story-image {
    max-height: calc(100vh - #{$storyJumbotronHeight} - #{$navbarHeight} - 4 * #{$storyJumbotronMargin});
    margin-top: 10px;
}
.story-container {
    height: calc(100vh - #{$navbarHeight});
    background-color: $secondary;
}

.story-jumbotron {
    height: $storyJumbotronHeight;
    border: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: $storyJumbotronMargin;
    margin-bottom: $storyJumbotronMargin; 
}
