@import './custom.scss';

.page {
  display:block;
}

.App {
  text-align: center;
  background-color: $light;
  padding-bottom: 75px;
}

.content {
  max-width: 920px;
  margin-left: auto;
  margin-right: auto;
}

.navbar#app-navbar {
  top: 0px;
  height: $navbarHeight;
}

.navbar-collapse.collapse.show{
  background-color: $light;
  padding-left: 0px;
  padding-right: 0px;
  z-index: 3;
}

.navbar-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.navbar .wedding-nav.names {
  font-size: 30px;
  font-weight: bold;
}

.navbar .wedding-nav.link{
  font-size: 20px;
  font-weight: bold;
}

.page {
  height: 100vh;
}

/* Container holding the image and the text */
#image-container {
  position: relative;
  text-align: center;
}

/* Centered text */
#names {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 7vw;
  color: #482614;
}

.rsvp-button-container {
    position: fixed;
    left: 10%;
    right: 0px;
    bottom: 5%;
    width: fit-content;
    border-radius: 0px;
}

.rsvp-button-container #rsvp-button{
    width: 20vw;
    min-width:150px;
    height: 10vh;
    font-family: 'Poiret One', cursive;
    font-size: 30px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #names {
    font-size: 7vw;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #names {
    font-size: 66px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #names {
    font-size: 80px;
  }
}
